<mat-toolbar color="primary">
  <span>
    <button routerLink="/" mat-button>
      <mat-icon>local_movies</mat-icon> Movies
    </button>
  </span>
  <div>
   <app-authorize-view [role]="'admin'">
     <ng-container authorized>


    <span>
      <button routerLink="genres" mat-button>Genres</button>
    </span>

    <span>
      <button routerLink="actors" mat-button>Actors</button>
    </span>
    <span>
      <button routerLink="theaters" mat-button>Theaters</button>
    </span>

    <span>
      <button routerLink="movies/create" mat-button>Create Movie</button>
    </span>
    <span>
      <button routerLink="movies/create" mat-button>Users</button>
    </span>
  </ng-container>

   </app-authorize-view>
    <span>
      <button routerLink="movies/filter" mat-button>
        <mat-icon>search</mat-icon>Search movies
      </button>
    </span>
  </div>
  <div class="space"></div>

  <app-authorize-view>
<ng-container authorized>
  <span>hello,{{this.accountService.getFieldFromJWT('email')}} </span>
  <a mat-button (click)="this.accountService.logout()" >Logout</a>
</ng-container>
<ng-container notAuthorized>
<a routerLink="login">Login</a>
<a  class="ml-1" routerLink="register">Register</a>
</ng-container>

    
  </app-authorize-view>
</mat-toolbar>
