<form [formGroup]="theaterForm" (submit)="saveChanges()">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput />
    <mat-error>Name is required</mat-error>
  </mat-form-field>
  <h3>Select location</h3>
  <app-map 
      [initialCoordinates]="initialCoordinates" (onSelectedLocation)="selectedLocation($event)"></app-map>
  <div class="mt-1">
    <button
      class="ml-1"
      mat-flat-button
      color="primary"

      (click)="saveChanges()"
    >
      Save Changes
    </button>
    <button mat-flat-button class="ml-1" routerLink="/theaters" color="warn">Cancel</button>

  </div>
</form>
