<h2>Actors</h2>
<button
  mat-flat-button
  class="mt-1"
  color="primary"
  routerLink="/actors/create"
>
  Create Actor
</button>

<app-custom-list [list]="actors">
  <div class="mat-elevation-z8" content>
    <table mat-table [dataSource]="actors" class="table-index">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <th mat-cell *matCellDef="let element">
          <img
            style="border-radius: 50%; object-fit: cover"
            width="40px"
            height="40px"
            [src]="
              element.picture != null
                ? element.picture
                : 'assets/placeholder.png'
            "
            alt=""
          />
        </th>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <th mat-cell *matCellDef="let element">{{ element.name }}</th>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <th mat-cell *matCellDef="let element">
          <a routerLink="edit/{{ element.id }}" mat-flat-button color="primary"
            >Edit</a
          >
          <a mat-flat-button color="warn" (click)="openDialog(element.id)"
            >Delete</a
          >
        </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50]"
      [length]="5"
      [pageSize]="pageSize"
      (page)="updatePagination($event)"
    >
    </mat-paginator>
  </div>
</app-custom-list>
