<form [formGroup]="movieForm">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput />
    <mat-error>Name is required.</mat-error>
  </mat-form-field>

  <div>
    <mat-checkbox formControlName="inTheater">In Theaters</mat-checkbox>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Trailer</mat-label>
    <input formControlName="trailer" matInput />
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label>Released</mat-label>
    <input matInput formControlName="releaseDate" [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <h4>Select the poster</h4>
  <app-input-img
    [currentImage]="movie?.image"
    (onImageSelected)="onImageSelected($event)"
  ></app-input-img>

  <h4>Summary</h4>
  <app-markdown
    [markdownContent]="movie?.biography"
    (changeMarkDown)="changeMarkDown($event)"
  ></app-markdown>

  <h4>Select Theater</h4>
  <app-custom-selector
    [selectedItems]="selectedTheaters"
    [nonSelectedItems]="nonSelectedTheaters"
  ></app-custom-selector>

  <h4>Select Genre</h4>
  <app-custom-selector
    [selectedItems]="selectedGenres"
    [nonSelectedItems]="nonSelectedGenres"
  ></app-custom-selector>

  <h4>Select Actor</h4>
  <app-actors-autocompelete></app-actors-autocompelete>
  <button
    type="submit"
    mat-flat-button
    (click)="saveChanges()"
    [disabled]="movieForm.disabled"
    color="primary"
  >
    Save Changes
  </button>
  <button class="ml-1" mat-stroked-button routerLink="/moives">Cancel</button>
</form>
