<form [formGroup]="movieForm">
<h1>{{title}}</h1>
  <div class="d-flex">
    <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput />
    <mat-error>Name is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="ml-1" appearance="outline">
    <mat-label>Trailer</mat-label>
    <input formControlName="trailer" matInput />
  </mat-form-field>
  </div>
  <div class="d-flex">
    <mat-form-field appearance="outline">
    <mat-label>Released</mat-label>
    <input matInput formControlName="releaseDate" [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br />
    <div class="ml-1">
    <mat-checkbox formControlName="inTheater">In Theaters</mat-checkbox>
  </div>
  </div>
  <br>
 

   
  <div class="d-flex"> 
    <div>
      <h4>Select the poster</h4>
  <app-input-img
    [currentImage]="movie?.image"
    (onImageSelected)="onImageSelected($event)"
  ></app-input-img>

    </div>
<div>

  <h4>Select Theater</h4>
  <app-custom-selector
    [selectedItems]="selectedTheaters"
    [nonSelectedItems]="nonSelectedTheaters"
  >
</app-custom-selector>
</div>
<div>
  
  <h4>Select Genre</h4>
  <app-custom-selector
    [selectedItems]="selectedGenres"
    [nonSelectedItems]="nonSelectedGenres"
  ></app-custom-selector>
  </div>

  <div class="ml-1">
    <h4>Select Actor</h4>
  <app-actors-autocompelete [selectedActors]="selectedActor"></app-actors-autocompelete>
  </div>
</div>

   <h4>Summary</h4>
  <app-markdown
    [markdownContent]="movie?.biography"
    [label]="'Summary'"
    (changeMarkDown)="changeMarkDown($event)"
  ></app-markdown>
  
  <button
    type="submit"
    mat-flat-button
    (click)="saveMovieChanges()"
    [disabled]="movieForm.disabled"
    color="primary"
  >
    Save Changes
  </button>
  <button class="ml-1" mat-stroked-button routerLink="/moives">Cancel</button>
</form>
