<h2>Search Movies</h2>
<form [formGroup]="filterForm">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Genre</mat-label>
    <mat-select formControlName="genreId">
      <mat-option *ngFor="let genre of genres" [value]="genre.id">{{
        genre.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-checkbox formControlName="upcomings" [checked]="filterForm.upcomings"
      >Upcoming Releases</mat-checkbox
    >
    <mat-checkbox formControlName="inTheater">Is in Theaters?</mat-checkbox>
  </div>
  <div>
    <button mat-flat-button (click)="clearForm()" color="warn">Clear</button>
    <button mat-flat-button (click)="clearForm()" color="primary">
      Save Changes
    </button>
  </div>
</form>
<app-movie-list (onDelete)="onDelete()" [movies]="movies"></app-movie-list>

<mat-paginator 
[length]="limit" [pageSize]="perPage" [pageSizeOptions]="[5,10,20,50]"
(page)="paginatorUpdate($event)"
>

</mat-paginator>