


<div class="row">
  <div class="col" *ngFor="let movie of movies">
    <mat-card class="m-1" >
      <a [routerLink]="'movies/details/'+movie.id">

        <img [src]="movie?.poster" alt="" />
      </a>
      <a routerLink="/movies/edit/{{movie.id}}">
        <h2>{{ movie?.name }}</h2>
      </a>
      <app-authorize-view [role]="'admin'">
        <ng-container authorized>
          <button routerLink="/movies/edit/{{movie.id}}" mat-flat-button color="primary">Edit</button>
    <button  class="ml-1" mat-flat-button color="accent">Delete</button>
        </ng-container>

        

    </app-authorize-view>

  </mat-card>
  </div>

</div>

