/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}

.d-flex{
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
 display: grid;
 grid-auto-columns: 1fr;
 grid-auto-flow: column;
}

.col {
  height: 100%;
}

a{
  text-decoration: none;
}
img{max-width: 100%;}
.m-1 {
  margin: 10px;
}

.ml-1 {
  margin-left: 10px !important;
}

.text-center {
  text-align: center !important;
}
.container {
  margin: 20px;
}
.mt-1 {
  margin-top: 10px !important;
}

.table-index {
  width: 100%;
  margin-top: 1rem;
}

.table-index a {
  margin-right: 1rem;
}

.mr-1{
  margin-right: 10px;
}
.mb-1{
  margin-bottom: 10px;
}
